  <section class="header-section">
    <div class="title-container">
      <h1 class="heading_1">Relatório</h1>
      <div class="switch-container">
        <button
          (click)="toggleView()"
          [class.active]="isReportsTotalView"
          class="switch-option label_large"
        >
          <mat-icon aria-hidden="false" fontIcon="payments"></mat-icon>
          Receitas Total
        </button>
        <button
          (click)="toggleView()"
          [class.active]="!isReportsTotalView"
          class="switch-option label_large"
        >
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Por Categoria
        </button>
      </div>
    </div>
    <div class="button-group">
      @if (isReportsTotalView) {
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (start.hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
          }
          @if (end.hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field>

        <button class="label_large button-primary" (click)="generateRevenueByDateReport()">
          <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
          Exportar Relatório
        </button>
      } @else {
        <button class="label_large button-primary" (click)="generateCategoriesReport()">
          <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
          Exportar Relatório
        </button>
      }
    </div>
  </section>
  @if (isReportsTotalView) {
  <section>
    <div class="financial-summary report">
      
    </div>
    <table  mat-table [dataSource]="datasource" class="mat-elevation-z8">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef style="width: 100%;"> Data </th>
        <td mat-cell *matCellDef="let element" style="width: 100%;" class="body_large"> {{element.date | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="totalRevenue">
        <th mat-header-cell *matHeaderCellDef  style="width: 100%;"> Receita Total </th>
        <td mat-cell *matCellDef="let element" style="width: 100%;" class="body_large"> {{element.totalRevenue | currency:'BRL'}} </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
  </section>
  } @else {
  <section class="list-section">
    <div class="financial-summary category">
      @for (category of revenueByCategory; track category.categoryName) {
      <div class="summary-item category">
        <span class="label label_medium">
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          {{ category.categoryName }}
        </span>
        <p class="amount heading_1">{{ category.totalRevenue | currency:'BRL' }}</p>
      </div>
    }
    </div>
  </section>
  }
