  <section class="title-section">
    <h1 class="heading_1">Visão Geral de Solicitação</h1>
    <div class="action-row">
      <div class="switch-container">
        <button
          (click)="toggleView()"
          [class.active]="isKanbanView"
          class="switch-option label_large"
        >
          <mat-icon  aria-hidden="false" fontIcon="view_week_outline"></mat-icon>
          Kanban
        </button>
        <button
          (click)="toggleView()"
          [class.active]="!isKanbanView"
          class="switch-option label_large"
        >
            <mat-icon aria-hidden="false" fontIcon="view_list"></mat-icon>
          Lista
        </button>
      </div>
      <div class="filter-container">
        <app-input-primary
          formControlName="search"
          type="text"
          inputName="search"
          placeholder="Pesquise por equipamento, categoria, etc."
          class="input-search"
        >
          </app-input-primary>
        <button class="button-primary label_large">
          <mat-icon aria-hidden="false" fontIcon="filter_list"></mat-icon
          >Filtros
        </button>
      </div>
    </div>
  </section>
  @if (isKanbanView) {
  <section class="stats-section">
    <div class="kanban-board">
      @for (group of groupedRequests(); track group.status.id) {
      <div class="column">
        <app-status-column
          [title]="group.status.nome"
          [requests]="group.requests"
        >
        </app-status-column>
      </div>
      }
    </div>
  </section>
  } @else {
    <section class="list-section">
        <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
          <ng-container matColumnDef="Nome do Equipamento">
            <th mat-header-cell *matHeaderCellDef> Nome do Equipamento </th>
            <td mat-cell *matCellDef="let element"> {{element.equipmentName}} </td>
          </ng-container>
          <ng-container matColumnDef="Categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
          <ng-container matColumnDef="Cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
          </ng-container>
          <ng-container matColumnDef="Data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.requestDate | date : "dd/MM/yyyy"}} </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </section>
  }
