<div class="modal-overlay" role="dialog" aria-modal="true"> 
    <div class="request-modal-container">

        <button class="close-button" aria-label="Fechar modal" (click)="confirmCloseRequest()">
          <mat-icon>close</mat-icon>
        </button>

        <h2>Nova solicitação de manutenção</h2>

        <form #formRequest="ngForm" (ngSubmit)="send()" class="request-form-body">
            
            <div class="form-group">
                <label for="equipmentName">Equipamento</label>
                <input 
                    type="text" 
                    id="equipmentName" 
                    name="equipmentName" 
                    placeholder="Digite qual é o seu equipamento" 
                    [(ngModel)]="request.equipmentName" 
                    #equipmentName="ngModel" 
                    required/>
            </div>

            <div class="form-group">
                <label for="categoryId">Categoria</label>
                <select 
                    id="categoryId" 
                    name="categoryId" 
                    [(ngModel)]="request.categoryId" 
                    #categoria="ngModel" 
                    required> 
                    <option [ngValue]="null" disabled selected>Selecione a categoria</option>
                    <option *ngFor="let category of categories" [ngValue]="category.id">
                        {{ category.name }}
                    </option>
                </select>
            </div>
                
            <div class="form-group">
                <label for="defectDescription">Descrição do defeito</label>
                <textarea 
                    id="defectDescription" 
                    name="defectDescription" 
                    placeholder="Descreva o defeito" 
                    [(ngModel)]="request.defectDescription" 
                    #defectDescription="ngModel" 
                    required></textarea>
            </div>

            <p class="required-field">* Campo de preenchimento obrigatório</p>

            <button type="submit" class="submit-button" [disabled]="formRequest.invalid">
                Solicitar manutenção
                <mat-icon>check</mat-icon>
            </button> 
        </form>
    </div>
</div>