<app-header></app-header>

<main class="container">
  <div class="requests">
    <h1 class="heading_1"> Minhas Solicitações</h1>

    <div class="search-add">
      <mat-form-field>
        <mat-label>Pesquisar solicitação</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      
      <button (click)="openNewRequest()" class="button-primary label_large"><span>Nova Solicitação </span><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="equipmentName">
      <th mat-header-cell *matHeaderCellDef> Nome do Equipamento </th>
      <td mat-cell *matCellDef="let element"> {{ element.equipmentName }} </td>
    </ng-container>
    <ng-container matColumnDef="categoryId">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{ element.categoryName }} </td>
    </ng-container>
    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Criação </th>
      <td mat-cell *matCellDef="let element"> {{ element.requestDate | date:'dd/MM/yyyy HH:mm' }} </td>
    </ng-container>
    <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <span class="status-badge label_large" [style.backgroundColor]="element.statusColor">
        {{ element.statusName }}
      </span>
    </td>
  </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição do Defeito </th>
      <td mat-cell *matCellDef="let element"> {{ element.equipmentDescription }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef> Ações </th>
    <td mat-cell *matCellDef="let element">

        <ng-container *ngIf="element.statusName === 'ABERTA' || element.statusName === 'PAGA' || element.statusName === 'FINALIZADA' || element.statusName === 'REDIRECIONADA'">
            <button class="back-link label_large" (click)="verServico(element.id)" style="width: 100%;">Ver Solicitação</button>
        </ng-container>

        <ng-container *ngIf="element.statusName === 'ORÇADA'">
            <button class="back-link label_large" (click)="verServico(element.id)" style="width: 100%;">Aprovar ou Recusar</button>
        </ng-container>

        <ng-container *ngIf="element.statusName === 'REJEITADA'">
            <button class="back-link label_large" (click)="verServico(element.id)" style="width: 100%;">Resgatar Solicitação</button>
        </ng-container>

        <ng-container *ngIf="element.statusName === 'APROVADA'">
            <button class="back-link label_large" (click)="verServico(element.id)" style="width: 100%;">Ver Detalhes</button>
        </ng-container>

        <ng-container *ngIf="element.statusName === 'ARRUMADA'">
            <button class="back-link label_large" (click)="verServico(element.id)" style="width: 100%;">Pagar Solicitação</button>
        </ng-container>

        </td>
</ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">Sem resultados</td>
    </tr>
  </table>
</main>
