<div class="card-container" (click)="verServico(request.id)">
  <div class="card-content">
    <h6 class="heading_6 equipment-name">{{ request.equipmentName }}</h6>
    <div class="card-infos">
      <div class="category-container">
        <div class="category-label">
          <mat-icon fontIcon="category"></mat-icon>
          <p class="label_medium">Categoria</p>
        </div>
        <span class="category-value">{{
          request.categoryName
        }}</span>
      </div>
      <div class="client-container">
        <div class="client-label">
          <mat-icon fontIcon="person"></mat-icon>
          <p class="label_medium">Cliente</p>
        </div>
        <span class="client-value">{{
          request.clientName
        }}</span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="footer-content">
      <img
        class="employee-image"
        src="assets/images/brazil-nativas.jpeg"
        alt="Brazil Nativas"
      />
      <span class="date">{{ request.requestDate | date:'dd/MM/yyyy HH:mm' }}</span>
    </div>
  </div>
</div>
