@import url("../../../../../styles/variables.css");

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    position: absolute;
    top: 24px;
    left: 48px;
}

.resgitration-container {
    display: flex;
    width: 720px;
    height: auto;
    padding: var(--spacing-lg) var(--spacing-xl);
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-lg);
    border-radius: var(--radius-lg);
    background: var(--color-background-card);
}

.resgitration-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-3xs, 8px);
}

.resgitration-text h1 {
    color: var(--color-heading-subtle);
}

.resgitration-text p {
    color: var(--color-text-default);

}

.form-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm, 20px);
}

.mat-icon {
    color: var(--color-primary-default);
}

.row-form-cpf-phone {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 100%;
}


.div-row {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    width: 100%;
}

.row-button {
    justify-content: space-between;
}

.first-button {
    display: flex;
    justify-content: end;
    width: 100%;
}

#input-numero {
    width: 30%;
}


.body_medium {
    color: var(--color-text-default);
    text-align: center;
}