.action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.reject-button{
    display: flex;
    height: 48px;
    padding: var(--spacing-2xs, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2xs, 12px);
    flex: 1 0 0;
    border-radius: var(--radius-sm, 8px);   
    background: var(--color-error-light, #FF5E5B);
}

.approve-button{
    display: flex;
    height: 48px;
    padding: var(--spacing-2xs, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2xs, 12px);
    flex: 1 0 0;
    border-radius: var(--radius-sm, 8px);
    background: var(--color-green-50, #25A46B);

}