<main>
  <section>
    <h2>Detalhes do Orçamento</h2>
    
    <div>
      <h3>Informações da Solicitação</h3>
      <ul>

        <li><strong>Serviço:</strong> </li>
        <li><strong>Descrição:</strong> </li>
    
        </ul>
          <section class="budget-info">

      <div class="info-block">
        <h3>Valor do Serviço</h3>
        <p class="price">R$ 520,00</p>
      </div>

      <div class="info-block">
        <h3>Prazo de Execução</h3>
        <p class="deadline">2-5 dias úteis</p>
      </div>
      
    </section>

    <section class="services">
      <h4>Serviços Inclusos</h4>
      <p>
        Diagnóstico técnico, Substituição do cabo flat da tela, Mão de obra,
        Limpeza interna + pasta térmica
      </p>
    </section>

      
      <div class="action-buttons">
        <button class="reject-button" (click)="reprovar()">Reprovar</button>
        <button class="approve-button" (click)="aprovar()">Aprovar</button>
      </div>

    <div></div>
        
    </div>
  </section>
</main>