<main class="container" *ngIf="request">
  <div class="header">
    <div class="title-section">
      <h2 class="heading_3">Orçamento #{{request.id}}</h2>
      <div class="status-section">
        
        <button *ngIf="request.status.nome === 'REJEITADA'" class="rescue-button" (click)="resgatarServico()">
          Resgatar Orçamento
        </button>
      </div>
    </div>
  </div>
  @if (request.budgets.length === 0) {
    <div class="empty-state">
      <h6 class="heading_6">Nenhum Orçamento Efetuado</h6>
      <small>Aguarde a análise do técnico.</small>
    </div>
  } @else {

  <section *ngFor="let budget of request.budgets" class="budget-details">
    <div class="price-highlight">
      <h3>Valor do Serviço</h3>
      <p class="heading_3 price">R$ {{ budget.total | currency:'BRL' }}</p>
    </div>

    <div class="info-row">
      <div class="info-block">
        <h3>Gerado em </h3>
        <span class="date">{{ budget.createdAt | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>

    <div class="services-section" *ngIf="budget?.services">
      <h3>Serviços Inclusos</h3>
      <p>{{budget.services}}</p>
    </div>

    <div class="actions" *ngIf="request.status.nome === 'ORCAMENTO' || request.status.nome === 'AGUARDANDO APROVAÇÃO'">
      <button class="btn-reject reject-button" (click)="openRejectModal()">Recusar</button>
      <button class="btn-approve approve-button" (click)="onApprove()">Aprovar Orçamento</button>
    </div>

    <div *ngIf="request.status.nome === 'REJEITADA'" class="rejection-info">
      <p class="rejection-status">Orçamento Reprovado</p>
      <p class="rejection-reason">{{request.rejectionReason}}</p>
    </div>

    <div *ngIf="request.status.nome === 'APROVADA'" class="approval-info">
      <p class="approval-status">Orçamento Aprovado</p>
      <p class="approval-message">O serviço foi aprovado e será iniciado em breve.</p>
    </div>
  </section>


  <app-reject-modal
    *ngIf="showRejectModal"
    (confirm)="confirmRejection()"
    (cancel)="onRejectCancel()">
  </app-reject-modal>
}
</main>