<aside class="sidebar-container" [class.expanded]="isExpanded()">
  <div class="sidebar-header">
    @if (isExpanded()) {
    <img src="assets/images/logo.png" alt="Remont Logo" class="logo" />
    }
    <button
      class="toggle-button"
      (click)="toggleSidebar()"
      aria-label="Toggle Sidebar"
    >
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
  </div>

  <ul class="menu-list">
    @for (item of menuItems; track item.label) {
    <li
      class="menu-item"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      aria-current="page"
    >
      <mat-icon class="icon">{{ item.icon }}</mat-icon>

      @if (isExpanded()) {
      <span class="label">{{ item.label }}</span>
      }
    </li>
    }
  </ul>
</aside>
