<body>
  <div class="card" *ngIf="requests">
    <div class="card-left">
      <a [routerLink]="['/client/request-detail', currentRequestId]" class="label_large back-link">
        <mat-icon>arrow_back</mat-icon>Voltar para Página Inicial
      </a>

      <div class="info-section">
        <div class="info-item">
          <h3>Item</h3>
          <p>{{ requests.equipmentName }}</p>
        </div>
        <div class="info-item">
          <h3>Categoria</h3>
          <p>{{ requests.categoryName }}</p>
        </div>
      </div>

      <div class="info-section">
        <h3>Descrição do Defeito</h3>
        <p>{{ requests.defectDescription }}</p>
      </div>

      <div class="info-section">
        <h3>Resumo do Pagamento</h3>

        <div class="payment-item" *ngFor="let budget of requests?.budgets">
          <div>
            <p class="payment-title">{{ budget.services }}</p>
          </div>
          <div class="payment-item total">
            <div>
              <span class="payment-title-total"><strong>Total</strong></span>
            </div>
            <span class="payment-price-total"><strong>R$ {{budget.total}}</strong></span>
          </div>
        </div>
        <hr>
        
      

      </div>
    </div>

    <div class="card-right">
      <h2>Pagamento</h2>

      <div class="payment-methods">
        <button 
          class="pay-btn" 
          [class.selected]="selectedMethod === 'cartao'" 
          (click)="selectMethod('cartao')">
          Cartão
        </button>

        <button 
          class="pay-btn" 
          [class.selected]="selectedMethod === 'pix'" 
          (click)="selectMethod('pix')">
          Pix
        </button>
      </div>

      <button class="pay-now" (click)="payRequest()">
        PAGAR AGORA
      </button>
    </div>
  </div>
  
  <!-- Modal de confirmação de pagamento -->
  <app-success-modal 
    [(mostrar)]="mostrarModal"
    [titulo]="modalTitulo"
    [subtitulo]="modalSubtitulo"
    [dadosAdicionais]="modalDadosAdicionais"
    [textoBotao]="modalTextoBotao"
    [rotaDestino]="modalRotaDestino">
  </app-success-modal>
</body>