<h1>Análise do Orçamento</h1>
<h3>Revise os detalhes da solicitação e o orçamento apresentado</h3>

<div class="action-buttons">
  <button mat-button (click)="accordion().openAll()">Expand All</button>
  <button mat-button (click)="accordion().closeAll()">Collapse All</button>
</div>

<mat-accordion class="headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Detalhes da Solicitação </mat-panel-title>
      <mat-icon>account_circle</mat-icon>
    </mat-expansion-panel-header>

    <p>João Silva</p>
    <p>Brasil</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Detalhes do equipamento </mat-panel-title>
      <mat-icon>computer</mat-icon>
    </mat-expansion-panel-header>

    <p>Computador Acer Nitro 5</p>
    <p>Data: 20/10/2025</p>
    <p>Descrição: Computador apresenta parte da tela descolada, piscando em verde ao ligar.</p>
  </mat-expansion-panel>
</mat-accordion>

<p></p>

<mat-accordion class="headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Orçamento Apresentado </mat-panel-title>
      <mat-icon>account_circle</mat-icon>
    </mat-expansion-panel-header>

    <p>Valor do serviço R$350,00</p>
    <p>Parcelamento disponível: 10x de R$40</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Serviços Inclusos </mat-panel-title>
      <mat-icon>computer</mat-icon>
    </mat-expansion-panel-header>

    <p>Troca de tela, troca de teclado, troca de processador</p>
    <p>Técnico: Gabriel Brasil</p>
  </mat-expansion-panel>
</mat-accordion>