<body>
  <div class="card">
    <div class="card-left">
      <a href="/" class="back-link">{{ backLink }}</a>

      <div class="info-section">
        <div class="info-item">
          <h3>Item</h3>
          <p>{{ item }}</p>
        </div>
        <div class="info-item">
          <h3>Categoria</h3>
          <p>{{ categoria }}</p>
        </div>
      </div>

      <div class="info-section">
        <h3>Descrição do Defeito</h3>
        <p>{{ defeito }}</p>
      </div>

      <div class="info-section">
        <h3>Resumo do Pagamento</h3>

        <div class="payment-item" *ngFor="let p of pagamentos">
          <div>
            <p class="payment-title">{{ p.titulo }}</p>
          </div>
          <span class="payment-price">R$ {{ p.preco.toFixed(2).replace('.',',') }}</span>
        </div>
        <hr>
        <div class="payment-item total">
        <div>
          <span class="payment-title-total"><strong>Total</strong></span>
        </div>
        <span class="payment-price-total"><strong>R$ {{ total.toFixed(2).replace('.',',') }}</strong></span>
      </div>

      </div>
    </div>

    <div class="card-right">
      <h2>Pagamento</h2>

      <div class="payment-methods">
        <button 
          class="pay-btn" 
          [class.selected]="selectedMethod === 'cartao'" 
          (click)="selectMethod('cartao')">
          Cartão
        </button>

        <button 
          class="pay-btn" 
          [class.selected]="selectedMethod === 'pix'" 
          (click)="selectMethod('pix')">
          Pix
        </button>
      </div>

      <button class="pay-now" (click)="payNow()">
        PAGAR AGORA
      </button>
    </div>
  </div>
</body>
