.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}


.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 380px;
    gap: 24px;
    width: 100%;
    align-items: start;
}

.details-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.back-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

.back-link:hover {
    text-decoration: underline;
}