<app-header></app-header>

@if (isLoading === false) {
<main>
  <div class="header-wrapper">
    <a routerLink="/client/dashboard" class="label_large back-link">
      <mat-icon>arrow_back</mat-icon>Voltar para Página Inicial
    </a>
    @if (request!.status.nome === 'ARRUMADA') {
    <button class="label_large button-primary" (click)="goToPaymentPage()">Pagar Solicitação <mat-icon>payment</mat-icon></button>
    } @else {
      <div></div>
    }
  </div>
  <div class="content-wrapper">
    <div class="details-section">
      <app-request-description [request]="request!"></app-request-description>
      <app-approve-reject-panel [request]="request!" (statusChanged)="loadRequestDetails($event)"></app-approve-reject-panel>
    </div>
    <app-request-history style="height: 100%;" [history]="request!.history"></app-request-history>
  </div>
</main>
} @else {
    <div class="loading-state">Carregando detalhes...</div>
}
