<header class="header">
  <div class="logo">Remont</div>
  <nav class="user-nav">
    <span>Olá, Nilton Nativas</span>
    <button class="btn-icon" aria-label="Notificações">🔔</button>
    <button class="btn-logout" aria-label="Sair">Sair ➔</button>
  </nav>
</header>

<a routerLink="/client-dashboard"> ← Voltar para Página Inicial </a>

<div *ngIf="request">
    <app-request-description [request]="request"></app-request-description>
    <app-request-history [requestId]="currentRequestId"></app-request-history>
</div>

<div *ngIf="!request">
    <p>Solicitação não encontrada</p>
</div>