<app-header></app-header>
<main>
  <section class="header-section">
    <div class="title-container">
      <h1 class="heading_1">Relatório</h1>
      <div class="switch-container">
        <button
          (click)="toggleView()"
          [class.active]="isReportsTotalView"
          class="switch-option label_large"
        >
          <mat-icon aria-hidden="false" fontIcon="payments"></mat-icon>
          Receitas Total
        </button>
        <button
          (click)="toggleView()"
          [class.active]="!isReportsTotalView"
          class="switch-option label_large"
        >
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Por Categoria
        </button>
      </div>
    </div>
    <div class="button-group">
      <button class="label_large button-secondary">
        <mat-icon aria-hidden="false" fontIcon="filter_list"></mat-icon>
        Filtros
      </button>
      <button class="label_large button-primary">
        <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
        Exportar Relatório
      </button>
    </div>
  </section>
  @if (isReportsTotalView) {
  <section>
    <div class="financial-summary">
      <div class="summary-item">
        <span
          class="label label_medium"
          style="color: var(--color-secondary-dark)"
        >
          <mat-icon aria-hidden="false" fontIcon="payments"></mat-icon>
          Receita Total
        </span>
        <p class="amount heading_1">$12,345.67</p>
      </div>
      <div class="summary-item">
        <span
          class="label label_medium"
          style="color: var(--color-error-default)"
        >
          <mat-icon aria-hidden="false" fontIcon="payments"></mat-icon>
          Despesas Totais
        </span>
        <p class="amount heading_1">$8,765.43</p>
      </div>
      <div class="summary-item">
        <span class="label label_medium" style="color: var(--color-green-60)">
          <mat-icon aria-hidden="false" fontIcon="payments"></mat-icon>
          Lucro Líquido
        </span>
        <p class="amount heading_1">$3,580.24</p>
      </div>
    </div>
    <div class="chart-section">
      <div class="chart-container">
        <img
          src="assets/illustrations/under-development.svg"
          alt="Em desenvolvimento"
          class="under-development-image"
        />
        <h3 class="body_medium">
          Gráfico de receitas e despesas em desenvolvimento.
        </h3>
      </div>
      <div class="chart-container" style="width: 32.2%">
        <img
          src="assets/illustrations/under-development.svg"
          alt="Em desenvolvimento"
          class="under-development-image"
        />
        <h3 class="body_medium">
          Gráfico de receitas e despesas em desenvolvimento.
        </h3>
      </div>
    </div>
  </section>
  } @else {
  <section class="list-section">
    <div class="financial-summary">
      <div class="summary-item">
        <span class="label label_medium">
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 1
        </span>
        <p class="amount heading_1">$1.000,00</p>
      </div>
      <div class="summary-item">
        <span
          class="label label_medium"
        >
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 2
        </span>
        <p class="amount heading_1">$2,765.43</p>
      </div>
      <div class="summary-item">
        <span class="label label_medium">
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 3
        </span>
        <p class="amount heading_1">$1.470,24</p>
      </div>
      <div class="summary-item">
        <span class="label label_medium">
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 4
        </span>
        <p class="amount heading_1">$525.24</p>
      </div>
    </div>
    <div class="financial-summary">
      <div class="summary-item">
        <span class="label label_medium">
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 5
        </span>
        <p class="amount heading_1">$1.000,00</p>
      </div>
      <div class="summary-item">
        <span
          class="label label_medium"
        >
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 6
        </span>
        <p class="amount heading_1">$2,765.43</p>
      </div>
      <div class="summary-item">
        <span class="label label_medium">
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 7
        </span>
        <p class="amount heading_1">$1.470,24</p>
      </div>
      <div class="summary-item">
        <span class="label label_medium">
          <mat-icon aria-hidden="false" fontIcon="category"></mat-icon>
          Categoria 8
        </span>
        <p class="amount heading_1">$525.24</p>
      </div>
    </div>
  </section>
  }
</main>
