<main>
  <section class="illustration">
    <h1 class="display_medium title-login">
      Com a <span class="emphasis">Remont</span>, <br />
      seus equipamentos <br />
      nunca param.
    </h1>
    <div class="container-illustration">
      <img
        src="assets/illustrations/login-illustration.svg"
        alt="Ilustração de Login"
        width="600"
      />
    </div>
  </section>
  <section class="form">
    <img src="assets/images/logo.png" alt="Logomarca" width="200" />
    <div class="form-content">
      <div class="form-text">
        <h3 class="heading_3">Login</h3>
        <p class="body_medium">
          Preencha Preencha suas informações para entrar.
        </p>
      </div>
      <form class="form-inputs">
        <app-input-primary
          label="Email"
          type="email"
          formControlName="email"
          placeholder="exemple@email.com"
          style="width: inherit"
        ></app-input-primary>
        <app-input-primary
          label="Senha"
          [type]="hide() ? 'password' : 'text'"
          formControlName="password"
          style="width: inherit"
        >
          <mat-icon
            aria-hidden="false"
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </app-input-primary>
        <div class="row-link-btn">
          <p><a href="#">Esqueceu a senha?</a></p>
          <button class="button-primary label_large" (click)="onSubmit()">Entrar</button>
        </div>
      </form>

      <p class="body_medium">
        Ainda não possui uma conta? <a (click)="navigate()">Faça o cadastro.</a>
      </p>
    </div>
  </section>
</main>
