<app-header></app-header>

<main>
  <section class="title-section">
    <h1 class="heading_1">Visão Geral de Solicitação</h1>
    <div class="action-row">
      <div class="switch-container">
        <button
          (click)="toggleView()"
          [class.active]="isKanbanView"
          class="switch-option label_large"
        >
          <mat-icon  aria-hidden="false" fontIcon="view_week_outline"></mat-icon>
          Kanban
        </button>
        <button
          (click)="toggleView()"
          [class.active]="!isKanbanView"
          class="switch-option label_large"
        >
            <mat-icon aria-hidden="false" fontIcon="view_list"></mat-icon>
          Lista
        </button>
      </div>
      <div class="filter-container">
        <app-input-primary
          formControlName="search"
          type="text"
          inputName="search"
          placeholder="Pesquise por equipamento, categoria, etc."
          class="input-search"
        >
          </app-input-primary>
        <button class="button-primary">
          <mat-icon aria-hidden="false" fontIcon="filter_list"></mat-icon
          >Filtros
        </button>
      </div>
    </div>
  </section>
  @if (isKanbanView) {
  <section class="stats-section">
    <div class="kanban-board">
      @for (group of groupedRequests(); track group.status.id) {
      <div class="column">
        <app-status-column
          [title]="group.status.nome"
          [requests]="group.requests"
        >
        </app-status-column>
      </div>
      }
    </div>
  </section>
  } @else {
    <section class="list-section">
        <img src="assets/illustrations/under-development.svg" alt="Em desenvolvimento" class="under-development-image"/>
        <h3 class="heading_3">A visualização em lista está em desenvolvimento.</h3>
    </section>
  }
</main>
