<div class="history-container">
  <h2>Histórico</h2>
  <div *ngIf="history.length === 0" class="no-history">
    Nenhum histórico encontrado para esta solicitação.
  </div>

  <div class="history-list">
    <ng-container *ngFor="let entry of history; let i = index">
      <div class="history-item">
        <div class="date" *ngIf="i === 0 || (entry.date | date:'dd/MM/yyyy') !== (history[i - 1].date | date:'dd/MM/yyyy')">
          <strong>{{ entry.date | date:'EEEE, dd \'de\' MMMM' }}</strong> 
        </div>  
      <div class="history-body">
          <span class="time"> {{ entry.date | date:'HH:mm' }}</span>
          <div class="info">
            <div class="responsible">{{ getUser(entry.userId) }}</div>
            <div class="desc">{{ getDescription(entry) }}</div>
          </div>
      </div>
      </div>
    </ng-container>
  </div>
</div>