<div class="history-container">
  <h2>Histórico</h2>
  <div *ngIf="history.length === 0" class="no-history">
    Nenhum histórico encontrado para esta solicitação.
  </div>

  <div class="history-list">
    <ng-container *ngFor="let entry of history">
      <div class="history-item">
      <span class="date"> {{ entry.date | date:'dd/MM' }}</span>        
      <div class="history-body">
          <span class="time"> {{ entry.date | date:'HH:mm' }}</span>
          <span class="responsible"> {{ getUser(entry.userId) }}</span>
          <p class="title">{{ entry.title }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>