<mat-toolbar class="app-header">
  <div class="header-left">
    <img src="assets/images/logo.png" alt="Logo" class="logo">
  </div>

  <div class="header-right">
    <span class="body_medium">Olá {{ nomeDeUsuario }}</span>

    <div class="user-avatar">
      <mat-icon>account_circle</mat-icon>
    </div>
    <span class="body_medium">Notificações</span>
    <button class="icon-button">
      <mat-icon>notifications</mat-icon>
      <span class="badge">3</span>
    </button>
    <span class="body_medium">Sair</span>
    <button class="icon-button">  
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>